.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* -----------------------
Reset & Global 
----------------------- */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

html, body, #root {
	height: 100%;
	max-height: 600px;
	width: 100%;
}

h1, h2, h3, h4 {
	margin: 0;
	font-weight: 700;
}

body {
	margin: 0;
	line-height: 1.5;
	background: #F1F3F9;
}

div:before {
	clear: both;
	content: "";
	display: table;
	margin-top: -1px;
	height: 0;
}

html {
	font-family: 'Open Sans', sans-serif;
}

p {
	font-size: 18px;
	margin: 0;
	margin-bottom: 10px;
}

a {
	color: #fff;
}

.title {
	font-size: 18px;
	line-height: 1;
	height: 40px;
}

.container {
	overflow: auto;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
	height: 100%;
	max-height: 600px;
}

.mt-40 {
	margin-top: 40px;
}

/* -----------------------
Header 
----------------------- */

.header {
	width: 100%;
	background: rgb(233,66,29);
	background: linear-gradient(90deg, rgba(233,66,29,1) 0%, rgba(234,140,0,0.3) 100%);
	color: #FFF;
	padding-top: 40px;
	padding-bottom: 40px;
}

.header__title {
	font-size: 14px;
	text-transform: uppercase;
}

.header__subheading {
	font-weight: 300;
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 20px;
	line-height: 1.3;
}

/* -----------------------
Main 
----------------------- */

.main {
	display: grid;
	grid-template-columns: 272px 1fr;
	gap: 0 40px;
}

.main::before {
	display: none;
}

/* -----------------------
Legend 
----------------------- */

.legend {
	background: #fff;
	padding: 20px;
}

.legend-marker {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.legend-marker:last-child {
	margin-bottom: 0;
}

.legend-marker__title {
	margin: 0;
	margin-left: 20px;
	line-height: 1;
}

/* -----------------------
Map 
----------------------- */

#map {
	height: 100%;
	max-height: 1280px;
	width: 100%;
	max-width: 100%;
}

.popup__title {
	font-weight: bold;
}

.container--map {
	height: 600px;
}

@media (max-width: 1000px) {
	.header, .main {
		width: auto;
		padding-left: 16px;
		padding-right: 16px;
	}
}
@media (max-width: 768px) {
	p {
		font-size: 15px;
	}
	.header__subheading {
		font-size: 24px;
	}
	.main {
		grid-template-columns: 1fr;
		gap: 0;
	}
	.container--map {
		height: 400px;
	}
}